<div>

{{#each responseFromAPI}}
    {{!-- <img src="{{this.image_url}}" alt="" width="200px">
    <h5>{{this.name}}</h5>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p> --}}
    {{>beerPartial this}}
    <h3>Food Pairing:</h3>
    <ul>
        {{#each food_pairing}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>Brewers Tips:{{this.brewers_tips}}</p>

{{/each}}
</div>